.store-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.product-container img{
    width: 280px;
}
.btn-choose, .btn-reset{
    background-color: transparent;
    border: 1px solid green;
    width: 150px;
    font-size: 16px;
    text-transform: uppercase;
}
.btn-reset{
    margin-top: 10px;
    border: 1px solid red;
}
@media screen and (max-width:768px){
    .product-container{
        grid-template-columns:1fr 1fr;
    }
   .product-container{
    grid-template-columns: repeat(1,1fr);
   }
    
}